build/BOOT.BIN filter=lfs diff=lfs merge=lfs -text
build/harness.xo filter=lfs diff=lfs merge=lfs -text
build/host.exe filter=lfs diff=lfs merge=lfs -text
build/_x filter=lfs diff=lfs merge=lfs -text
build/xcd.log filter=lfs diff=lfs merge=lfs -text
build/boot_image.bif filter=lfs diff=lfs merge=lfs -text
build/harness.xclbin filter=lfs diff=lfs merge=lfs -text
build/output.h5 filter=lfs diff=lfs merge=lfs -text
build/sd_card filter=lfs diff=lfs merge=lfs -text
build/v++_harness.log filter=lfs diff=lfs merge=lfs -text
build/harness.xclbin.package_summary filter=lfs diff=lfs merge=lfs -text
build/harness.xsa filter=lfs diff=lfs merge=lfs -text
build/host.o filter=lfs diff=lfs merge=lfs -text
build/csim filter=lfs diff=lfs merge=lfs -text
build/csim.exe filter=lfs diff=lfs merge=lfs -text
build/harness filter=lfs diff=lfs merge=lfs -text
build/harness.ltx filter=lfs diff=lfs merge=lfs -text
build/harness.xsa.link_summary filter=lfs diff=lfs merge=lfs -text
build/input.h5 filter=lfs diff=lfs merge=lfs -text
