#platform=xilinx_vck190_base_202420_1
#freqhz=330000000

[hls]
flow_target=vitis
syn.top=harness
syn.dataflow.fifo_depth=4
package.output.syn=1
package.output.format=xo
cosim.enable_dataflow_profiling=true
cosim.enable_fifo_sizing=1
cosim.enable_tasks_with_m_axi=0
cosim.rtl=verilog
clock_uncertainty=0.2ns
csim.code_analyzer=0
cosim.trace_level=all
cosim.tool=xsim
cosim.stable_axilite_update=1
cosim.wave_debug=1
syn.rtl.register_reset_num=3
vivado.optimization_level=3
vivado.phys_opt=all
vivado.report_level=2
vivado.syn_dcp=1
syn.file=../src/harness.cpp
syn.file=../src/harness.h
tb.file=../src/csim.cpp
syn.schedule.enable_dsp_full_reg=0
cosim.setup=0
